@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 5px;
  width: 7px;
  @apply bg-zinc-500;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  @apply bg-green-400;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 16px;
}

.loader {
  border: 6px solid #38a169;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
